{#<div style="height: 10rem; background-color: aqua; margin: 2rem; border-radius: 1rem">#}
<div style="text-align: center">
    <div STYLE="margin: 2rem 0; font-family: 'Pacifico', cursive;">
        {# 마진 값 하나 - 4방향  / 값 2개 얻으면 - 2방향 ( 상하, 좌우) / 값 4개도 있음#}
        {# Pacifico 폰트가 안 될때 cursive 폰트를 써라#}
        <h1>Pragmatic</h1>
    </div>
    <div style="margin-bottom: 2rem;">
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        <span>nav4</span>
    </div>

</div>